.navbar{
    padding:0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;

}


.btn{
    margin-bottom: 10px;
}

.fw-bold{
    color: yellow ;
}
.nav-link{
    text-align: center;
}

/* button in drop down */
.d-flex{
    display: flex;
    align-items: center;
    justify-content: center;}
