.navbar{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;

}

/* .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

.navbar-toggler{
    text-align: right;
} */